     * {
         margin: 0;
         padding: 0;
     }

     .container {
         margin: 100px auto;
         width: 250px;
         height: 350px;
         perspective: 1000px;
     }

     .container img {
         position: absolute;
         top: 0;
         left: 0;
         transition: 1s;
     }

     .container img:last-of-type {
         transform: rotateY(180deg);
         backface-visibility: hidden;
     }

     .container:hover img:first-of-type {
         transform: rotateY(180deg);
     }

     .container:hover img:last-of-type {
         transform: rotateY(360deg);
     }